.page {
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    min-width: 320px;
    min-height: 100vh;

}

@media screen and (min-width: 1280px) {
    .page {
        margin: 0 auto;
    }
}