.photo-grid {
  margin-bottom: 59px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-bottom: 129px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    row-gap: 15px;
    margin-bottom: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
    margin: 0 auto;
    margin-bottom: 89px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}