.places{
    margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
    .places{
        margin-bottom: 84px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        margin-bottom: 85px;
    }
    
}
@media screen and (min-width: 1280px) {
    .places {
        margin-bottom: 81px;
    }
    
}