.places {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .places {
        margin: 0 3.1vw;
    }
}
@media screen and (min-width: 768px) {
    .places {
        margin: 0 4.5vw;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 0 11.5vw;
    }
}