.lead {
    margin-bottom: 61px;
}

@media screen and (min-width: 768px) {
    .lead {
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        margin-bottom: 95px;
    }
}