.section-center {
    min-width: 288px;
    margin: 0 5vw;
}


@media screen and (min-width: 768px) {
    .section-center {
        margin: 0 3.1vw;
    }
}

@media screen and (min-width: 1024px) {
    .section-center {
        margin: 0 4.6vw;
    }
}
@media screen and (min-width: 1280px) {
    .section-center {
        margin: 0 11.5vw;
    }
}