.section-center {
    margin: 0 5vw;
}


@media screen and (min-width: 768px) {
    .section-center {
        margin: 0 3.1vw;
    }
}

@media screen and (min-width: 1024px) {
    .section-center {
        margin: 0 4.6vw;
    }
}
