.cover__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
    transition: all 0.5s linear;
    background: rgba(42, 44, 47, 30%);
}

.cover__item:hover {
    background: rgba(42, 44, 47, 80%);
}

@media screen and (min-width: 768px) {
    .cover__item {
        min-width: 768px;
        min-height: 480px;
    }
}
@media screen and (min-width: 1024px) {
    .cover__item {
        min-width: 1024px;
        min-height: 640px;
       
    }
}

@media screen and (min-width: 1280px) {
    .cover__item {
        min-width: 1184px;
        min-height: 740px;
    }
}